.h2 {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 700;
  color: #1f2328;
}

.link {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #0b5cff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
